#################################
# Attributes
#################################
uSERVICE_NAME=coreMQTT
uSERVICE_UID=COREMQTT
uSERVICE_VERSION_STR="1.0"
uSERVICE_CPU_CORE=x86

uSERVICE_MAINSTACK_SIZE=0x800

#################################
# Build Entities
#################################

uSERVICE_CFLAGS=-Os \
                -DMQTT_DO_NOT_USE_CUSTOM_CONFIG \
                -DSIM_USE_MBEDTLS=1 \
                -DSIM_TIMEOUT=10

uSERVICE_LDFLAGS=-LLibs/mbedtls/library -lmbedtls -lmbedx509 -lmbedcrypto -lws2_32 -lbcrypt

uSERVICE_SOURCE_FILES=Source/main.c \
    Libs/coreMQTT/source/core_mqtt.c \
    Libs/coreMQTT/source/core_mqtt_state.c \
    Libs/coreMQTT/source/core_mqtt_serializer.c \
    Libs/coreMQTT/source/core_mqtt_prop_serializer.c \
    Libs/coreMQTT/source/core_mqtt_prop_deserializer.c \
    Libs/coreMQTT/source/core_mqtt_serializer_private.c

uSERVICE_INCLUDE_DIRS=  -IInclude/ -ILibs/ \
                        -ILibs/coreMQTT/source/include -ILibs/coreMQTT/source/interface \
                        -ILibs/mbedtls -ILibs/mbedtls/include

#################################
# GCC Entities
#################################
uSERVICE_TOOLCHAIN_GCC_PATH=
uSERVICE_TOOLCHAIN_GCC_TOOLCHAIN_PREFIX=

# [OPTIONAL] CUSTOM LD PATH FOR MICROSERVICE
# uSERVICE_GCC_LD_PATH=